<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2013-2017 Lorenzo Bettini.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
  Lorenzo Bettini - Initial contribution and API
-->
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
              class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
              contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
              default="true"
              extensions="fjcached"
              icon="icons/fj_cached.gif"
              id="it.xsemantics.example.fjcached.Fjcached"
              name="Fjcached Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="it.xsemantics.example.fjcached.Fjcached.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="it.xsemantics.example.fjcached.Fjcached.validate">
         <activeWhen>
            <reference
                    definitionId="it.xsemantics.example.fjcached.Fjcached.Editor.opened">
            </reference>
         </activeWhen>
      	</handler>
      	<!-- copy qualified name -->
        <handler
            class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
            <activeWhen>
				<reference definitionId="it.xsemantics.example.fjcached.Fjcached.Editor.opened" />
            </activeWhen>
        </handler>
        <handler
            class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
            <activeWhen>
            	<and>
            		<reference definitionId="it.xsemantics.example.fjcached.Fjcached.XtextEditor.opened" />
	                <iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
            </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="it.xsemantics.example.fjcached.Fjcached.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="it.xsemantics.example.fjcached.Fjcached" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="it.xsemantics.example.fjcached.Fjcached.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="it.xsemantics.example.fjcached.Fjcached" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="it.xsemantics.example.fjcached.Fjcached"
            name="Fjcached">
            <keywordReference id="it.xsemantics.example.fjcached.ui.keyword_Fjcached"/>
        </page>
        <page
            category="it.xsemantics.example.fjcached.Fjcached"
            class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="it.xsemantics.example.fjcached.Fjcached.coloring"
            name="Syntax Coloring">
            <keywordReference id="it.xsemantics.example.fjcached.ui.keyword_Fjcached"/>
        </page>
        <page
            category="it.xsemantics.example.fjcached.Fjcached"
            class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="it.xsemantics.example.fjcached.Fjcached.templates"
            name="Templates">
            <keywordReference id="it.xsemantics.example.fjcached.ui.keyword_Fjcached"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="it.xsemantics.example.fjcached.Fjcached"
            name="Fjcached">
            <keywordReference id="it.xsemantics.example.fjcached.ui.keyword_Fjcached"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="it.xsemantics.example.fjcached.ui.keyword_Fjcached"
            label="Fjcached"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="it.xsemantics.example.fjcached.Fjcached.validate"
            name="Validate">
      </command>
      <!-- copy qualified name -->
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="it.xsemantics.example.fjcached.Fjcached.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="it.xsemantics.example.fjcached.Fjcached.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
         <!-- copy qualified name -->
         <menuContribution locationURI="popup:#TextEditorContext?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
         		style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="it.xsemantics.example.fjcached.Fjcached.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="menu:edit?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            	style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="it.xsemantics.example.fjcached.Fjcached.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
         		<visibleWhen checkEnabled="false">
	            	<and>
	            		<reference definitionId="it.xsemantics.example.fjcached.Fjcached.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="it.xsemantics.example.fjcached.Fjcached.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="it.xsemantics.example.fjcached.Fjcached.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="fjcached">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="fjcached">
        </resourceServiceProvider>
    </extension>


    <!-- marker definitions for it.xsemantics.example.fjcached.Fjcached -->
    <extension
            id="fjcached.check.fast"
            name="Fjcached Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.fast"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="fjcached.check.normal"
            name="Fjcached Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.normal"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="fjcached.check.expensive"
            name="Fjcached Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.expensive"/>
        <persistent value="true"/>
    </extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
            fileExtensions="fjcached"
            >
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="it.xsemantics.example.fjcached.Fjcached"
            class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="it.xsemantics.example.fjcached.Fjcached.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="it.xsemantics.example.fjcached.ui.keyword_Fjcached"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="it.xsemantics.example.fjcached.Fjcached"
            class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="it.xsemantics.example.fjcached.Fjcached.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="it.xsemantics.example.fjcached.ui.keyword_Fjcached"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="it.xsemantics.example.fjcached.Fjcached.OpenGeneratedCode"
				style="push">
					<visibleWhen checkEnabled="false">
						<reference definitionId="it.xsemantics.example.fjcached.Fjcached.Editor.opened" />
					</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
				<activeWhen>
					<reference definitionId="it.xsemantics.example.fjcached.Fjcached.Editor.opened" />
				</activeWhen>
		</handler>
	</extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="it.xsemantics.example.fjcached.Fjcached.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="it.xsemantics.example.fjcached.Fjcached.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for it.xsemantics.example.fjcached.Fjcached -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="it.xsemantics.example.fjcached.ui.fjcached.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="it.xsemantics.example.fjcached.ui.fjcached.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="it.xsemantics.example.fjcached.ui.fjcached.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="it.xsemantics.dsl.wizards.category"
            class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:it.xsemantics.example.fjcached.ui.wizard.FjcachedNewProjectWizard"
            icon="icons/fj_cached.gif"
            id="it.xsemantics.example.fjcached.ui.wizard.FjcachedNewProjectWizard"
            name="FJ (cached type system) Project"
            project="true">
      </wizard>
   </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="it.xsemantics.example.fjcached.Fjcached.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="it.xsemantics.example.fjcached.Fjcached.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="it.xsemantics.example.fjcached.Fjcached"
	        class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="it.xsemantics.example.fjcached.Fjcached.refactoring"
	        name="Refactoring">
	        <keywordReference id="it.xsemantics.example.fjcached.ui.keyword_Fjcached"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="it.xsemantics.example.fjcached.Fjcached.compare.contentViewers"
            class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="fjcached">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="it.xsemantics.example.fjcached.Fjcached.compare.contentMergeViewers"
            class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="fjcached" label="Fjcached Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="it.xsemantics.example.fjcached.Fjcached.editors.documentProviders"
            class="it.xsemantics.example.fjcached.ui.FjcachedExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="fjcached">
    </provider>
  </extension>
  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes
            extension="fjcached"
            type="text">
    </fileTypes>
  </extension>

</plugin>
