<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="api-baseline" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="it.xsemantics.runtime.feature.feature.group" version="1.4.2.v20140128-1326"/>
<repository location="http://master.dl.sourceforge.net/project/xsemantics/updates/releases/1.4"/>
</location>
</locations>
</target>
