<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.xsemantics.it/example/expressions/Expressions" 
       class = "it.xsemantics.example.expressions.expressions.ExpressionsPackage"
       genModel = "it/xsemantics/example/expressions/Expressions.genmodel" /> 
	
  </extension>




</plugin>
