<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2013-2017 Lorenzo Bettini.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
  Lorenzo Bettini - Initial contribution and API
-->
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<category id="it.xsemantics.ui.Examples" 
				  name="Xsemantics Examples" 
				  parentCategory="org.eclipse.ui.Examples" />
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<category id="it.xsemantics.project.Examples" 
				  name="Examples" 
				  parentCategory="it.xsemantics.dsl.wizards.category" />
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="it.xsemantics.examples.NewXsemanticsFjExampleWizard" 
			name="Xsemantics FJ Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/it.xsemantics.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Featherweight Java implemented with Xsemantics</description>
		</wizard>
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="it.xsemantics.examples.NewXsemanticsFjExampleWizard" 
			name="Xsemantics FJ Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="it.xsemantics.dsl.wizards.category/it.xsemantics.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Featherweight Java implemented with Xsemantics</description>
		</wizard>
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="it.xsemantics.examples.NewXsemanticsFjCachedExampleWizard" 
			name="Xsemantics FJ (with cached type system) Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/it.xsemantics.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Featherweight Java (with cached type system) implemented with Xsemantics. You must import the Xsemantics FJ Example first.</description>
		</wizard>
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="it.xsemantics.examples.NewXsemanticsFjCachedExampleWizard" 
			name="Xsemantics FJ (with cached type system) Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="it.xsemantics.dsl.wizards.category/it.xsemantics.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Featherweight Java (with cached type system) implemented with Xsemantics. You must import the Xsemantics FJ Example first.</description>
		</wizard>
	</extension>

   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="it.xsemantics.examples.NewXsemanticsFjExampleWizard">
         <projectDescriptor
               contentURI="contents/it.xsemantics.example.fj.zip"
               description="Parser, Serializer, Linker, etc."
               name="it.xsemantics.example.fj">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/it.xsemantics.example.fj.ui.zip"
               description="A smart editor for the language."
               name="it.xsemantics.example.fj.ui">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/it.xsemantics.example.fj.tests.zip"
               description="A test suite for the language."
               name="it.xsemantics.example.fj.tests">
         </projectDescriptor>
      </example>
   </extension>

   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="it.xsemantics.examples.NewXsemanticsFjCachedExampleWizard">
         <projectDescriptor
               contentURI="contents/it.xsemantics.example.fjcached.zip"
               description="Parser, Serializer, Linker, etc."
               name="it.xsemantics.example.fjcached">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/it.xsemantics.example.fjcached.ui.zip"
               description="A smart editor for the language."
               name="it.xsemantics.example.fjcached.ui">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/it.xsemantics.example.fjcached.tests.zip"
               description="A test suite for the language."
               name="it.xsemantics.example.fjcached.tests">
         </projectDescriptor>
      </example>
   </extension>

	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="it.xsemantics.examples.NewXsemanticsExpressionsExampleWizard" 
			name="Xsemantics Expressions Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/it.xsemantics.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>An Expressions DSL implemented with Xsemantics</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="it.xsemantics.examples.NewXsemanticsExpressionsExampleWizard" 
			name="Xsemantics Expressions Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="it.xsemantics.dsl.wizards.category/it.xsemantics.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>An Expressions DSL implemented with Xsemantics</description>
		</wizard>
	</extension>

   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="it.xsemantics.examples.NewXsemanticsExpressionsExampleWizard">
         <projectDescriptor
               contentURI="contents/it.xsemantics.example.expressions.zip"
               description="Parser, Serializer, Linker, etc."
               name="it.xsemantics.example.expressions">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/it.xsemantics.example.expressions.ui.zip"
               description="A smart editor for the language."
               name="it.xsemantics.example.expressions.ui">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/it.xsemantics.example.expressions.tests.zip"
               description="A test suite for the language."
               name="it.xsemantics.example.expressions.tests">
         </projectDescriptor>
      </example>
   </extension>

	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="it.xsemantics.examples.NewXsemanticsLambdaExampleWizard" 
			name="Xsemantics Lambda Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.ui.Examples/it.xsemantics.ui.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Type Inference for lambda calculus implemented with Xsemantics</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="it.xsemantics.examples.NewXsemanticsLambdaExampleWizard" 
			name="Xsemantics Lambda Example" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="it.xsemantics.dsl.wizards.category/it.xsemantics.project.Examples"
			icon="icons/genproject.gif" 
			project="true">
			<description>Type Inference for lambda calculus implemented with Xsemantics</description>
		</wizard>
	</extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            pageImage="icons/genproject.gif"
            wizardID="it.xsemantics.examples.NewXsemanticsLambdaExampleWizard">
         <projectDescriptor
               contentURI="contents/it.xsemantics.example.lambda.zip"
               description="Parser, Serializer, Linker, etc."
               name="it.xsemantics.example.lambda">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/it.xsemantics.example.lambda.ui.zip"
               description="A smart editor for the language."
               name="it.xsemantics.example.lambda.ui">
         </projectDescriptor>
         <projectDescriptor
               contentURI="contents/it.xsemantics.example.lambda.tests.zip"
               description="A test suite for the language."
               name="it.xsemantics.example.lambda.tests">
         </projectDescriptor>
      </example>
   </extension>

</plugin>
